In [1]:
import numpy as np
import pandas as pd

In [2]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [3]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [7]:
q1 = {'Japan': 80, 'China': 450,'India':200,'USA':250}
q2 = {'Brazil': 100, 'China': 500,'India':210,'USA':260}

In [8]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [9]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [10]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [11]:
sales_q1['Japan']

80

In [12]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [13]:
np.array([1,2])*2

array([2, 4])

In [14]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [15]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [17]:
sales_q1.add(sales_q2,  fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [18]:
sales_q1.dtype

dtype('int64')

In [19]:
first_half = sales_q1.add(sales_q2, fill_value=0)

In [20]:
sales_q1.dtype

dtype('int64')

In [21]:
first_half.dtype

dtype('float64')