In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [4]:
pd.merge(registrations, logins, how='outer', on='name')

   reg_id     name  log_id
0     1.0   Andrew     2.0
1     2.0     Bobo     4.0
2     3.0   Claire     NaN
3     4.0    David     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0

In [5]:
registrations = registrations.set_index('name')

In [6]:
registrations

        reg_id
name
Andrew       1
Bobo         2
Claire       3
David        4

In [7]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [9]:
pd.merge(registrations, logins, left_index=True, right_on='name', how='inner')

   reg_id  log_id    name
1       1       2  Andrew
3       2       4    Bobo

In [11]:
registrations=registrations.reset_index()

In [12]:
registrations

     name  reg_id
0  Andrew       1
1    Bobo       2
2  Claire       3
3   David       4

In [13]:
registrations.columns = ['reg_name', 'reg_id']

In [14]:
registrations

  reg_name  reg_id
0   Andrew       1
1     Bobo       2
2   Claire       3
3    David       4

In [16]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [18]:
result = pd.merge(registrations, logins, how='inner', left_on='reg_name', right_on='name')

In [20]:
result.drop('reg_name', axis=1)

   reg_id  log_id    name
0       1       2  Andrew
1       2       4    Bobo

In [21]:
registrations.columns = ['name', 'id']

In [23]:
logins.columns = ['id', 'name']

In [24]:
registrations

     name  id
0  Andrew   1
1    Bobo   2
2  Claire   3
3   David   4

In [25]:
logins

   id     name
0   1   Xavier
1   2   Andrew
2   3  Yolanda
3   4     Bobo

In [27]:
pd.merge(registrations, logins, how='inner', on='name', suffixes=('_reg', '_log'))

     name  id_reg  id_log
0  Andrew       1       2
1    Bobo       2       4