In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
wb = pd.ExcelFile('my_excel_file.xlsx')

In [9]:
wb.sheet_names

['First_Sheet']

In [10]:
excel_sheet_dict = pd.read_excel('my_excel_file.xlsx', sheet_name=None)

In [11]:
type(excel_sheet_dict)

dict

In [12]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [15]:
our_df = excel_sheet_dict['First_Sheet']

In [16]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
our_df.to_excel('example.xlsx', sheet_name='Fist_Sheet', index=False)