In [2]:
import numpy as np
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
myindex = ['USA', 'Canada', 'Mexico']

In [6]:
mydata = [1776, 1876, 1821]

In [7]:
myser=pd.Series(data=mydata, index=myindex)

In [11]:
myser[0]

1776

In [12]:
myser['USA']

1776

In [13]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [14]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64