In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myindex = ['CA','NY','AZ','TX']

In [5]:
mycolumns = ['Jan', 'Feb','Mar']

In [10]:
df = pd.DataFrame(mydata,index=myindex,columns=mycolumns)

In [11]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 252.0+ bytes

In [14]:
pwd

'e:\\PythonML\\Pandas'

In [15]:
ls

 O volume na unidade E � Novo volume
 O N�mero de S�rie do Volume � 062D-A168

 Pasta de e:\PythonML\Pandas

06/07/2021  18:46    <DIR>          .
06/07/2021  18:46    <DIR>          ..
06/07/2021  18:46                51 example.csv
06/07/2021  18:46             5.022 example.xlsx
06/07/2021  18:46        25.112.317 hotel_booking_data.csv
06/07/2021  18:46               177 movie_scores.csv
06/07/2021  18:46            17.727 mpg.csv
06/07/2021  18:46             5.022 my_excel_file.xlsx
06/07/2021  18:46                51 new_file.csv
06/07/2021  18:46             5.021 new_workbook.xlsx
06/07/2021  18:46                51 newfile.csv
06/07/2021  18:37                 0 Pandas_DataFrames_P1.ipynb
06/07/2021  18:03             2.636 Pandas_Series_P1.ipynb
06/07/2021  18:37             6.099 Pandas_Series_P2.ipynb
06/07/2021  18:46            52.132 reshaping_pivot.png
06/07/2021  18:46             5.459 RetailSales_BeerWineLiquor.csv
06/07/2021  18:46             1.320 Sales_Funnel_CRM.csv
06/07/2021  18:46             1.330 sample_table.html
06/07/2021  18:46               555 simple.html
06/07/2021  18:46            18.752 tips.csv
              18 arquivo(s)     25.233.722 bytes
               2 pasta(s)   744.190.984.192 bytes dispon�veis