In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [4]:
registrations

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

In [6]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [9]:
pd.merge(registrations, logins, how='inner', on='name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4

In [12]:
pd.merge(logins, registrations, how='inner', on='name')

   log_id    name  reg_id
0       2  Andrew       1
1       4    Bobo       2